@page "/emailbind"
@* @layout MainLayout

<PageTitle>EmailBindExample</PageTitle>

<p>
    Your email address is:
    <input @bind="customerEmail" />
</p>

@code {
    private string customerEmail = "john.doe@contoso.com";
} *@

<!--Bind elements to events-->
<h1>My favorite pizza is: @favPizza</h1>

<p>
    Enter your favorite pizza:
    <input @bind="favPizza"  @bind:event="oninput" /> <!--oninput-->
    <input @bind="favPizza"/><!--onchange default-->
</p>

@code {
    private string favPizza { get; set; } = "Margherita";
}