<Router AppAssembly="typeof(Program).Assembly" Context="routeData">
    @*FOUND PARA LAS PAGINAS QUE TENGAMOS *@
    <Found>
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        @*EL NOT FOUND PUES, SE HACE CUANDO NO ENCUENTRA LA PAGINA DENTRO DE LOS PAGES QUE TENGAMOS*@
        <LayoutView Layout="typeof(PizzasMainLayout)">
            <div class="main">Sorry, there's nothing at this address.</div>
        </LayoutView>
    </NotFound>
</Router>