@page "/FavoritePizza/{*favorites}"

@page "/FavoritePizza/{favorite}";
@*CATCH ONE PARAMETER /*@

@* OTHER TYPES WE CAN USE -----> URI EXAMPLE
bool	{vegan:bool}	http://www.contoso.com/pizzas/true
datetime	{birthdate:datetime}	http://www.contoso.com/customers/1995-12-12
decimal	{maxprice:decimal}	http://www.contoso.com/pizzas/15.00
double	{weight:double}	http://www.contoso.com/pizzas/1.234
float	{weight:float}	http://www.contoso.com/pizzas/1.564
guid	{pizza id:guid}	http://www.contoso.com/pizzas/CD2C1638-1638-72D5-1638-DEADBEEF1638
long	{totals ales:long}	http://www.contoso.com/pizzas/568192454*@

<h1>Choose a Pizza</h1>

@if (Favorite is not null)
{
    <p>Your favorite pizza is: @Favorite</p>
}
else
{
    <p>Your favorite pizzas are: @Favorites</p>
}

@code {
    [Parameter]
    public string Favorite { get; set; }
    [Parameter]
    public string Favorites { get; set; }

    // [Parameter]
    // public int Preferredsize { get; set; }

    /*The OnInitialized method runs when users request the page for the first time.
     * It doesn't run if they request the same page with a different routing parameter.
     * For example, if you expect users to go from http://www.contoso.com/favoritepizza/hawaiian to http://www.contoso.com/favoritepizza,
     * set the default value in the OnParametersSet() method instead.*/
}
