@using DataAccessBlazor;
@using DataAccessBlazor.Pages.PizzaComponents;

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PizzaSalesState SalesState
@page "/"


<div class="main">
    <h1>Blazing Pizzas</h1>

    <p>PIzzasSalesStateExample:</p>

    @* <p>Today, we've sold this many pizzas: @SalesState.PizzasSoldToday</p> *@

    @* <button @onclick="IncrementSales">Buy a Pizza</button> *@


    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <Card pizza="@special" />
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecial> specials = new();
    
    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }

    // private void IncrementSales()
    // {
    //     SalesState.PizzasSoldToday++;
    // }
}




