@page "/"
@using DataAccessBlazor
@using DataAccessBlazor.Pages.PizzaComponents
@using DataAccessBlazor.Services
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PizzaSalesState SalesState
@inject OrderState OrderState

<div class="main">
    <h1>Blazing Pizzas</h1>

    <p>PizzaSalesStateExample:</p>

    <Card Specials="specials" OrderState="OrderState" SalesState="SalesState" />
</div>

<OrderSummarySideBar Order="order" OrderState="OrderState" />

@code {
    List<PizzaSpecial> specials = new();
    Order order => OrderState.Order;

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }
}